*{
  font-family: 'Roboto';
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-col{
  display: flex;
  flex-direction: column;
}

.grey{
  color: #9E9E9E; 
}
.white{
  color: white
}
.center{
  justify-content: center;
 align-items: center;
}
.vh70{
  height:70vh;
}
.vh60{
  height: 60vh;
}
.vh50{
  height: 50vh;
}

.pink-bg{
background: #ff5a6a
}

.white-bg{
  background: white;
}

.login-nav{
  color: #bdbdbd;
  font-weight:100;
}

.landing-title{
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  color: #9E9E9E;
  width:75%;
}

.how-title{
  font-size: 2em;
  text-align: center;
  font-weight: 100;
  margin-top: -10%;
}
.how-it-box{
  width: 300px;
  height: 200px;
  margin: 5% 5%;
  text-align: center;
  font-size: 1.5em;

}

.how-small-text{
  font-size: .8em;
  font-weight: 100;
}

.large-icon{
  font-size: 2em;
}
.slider{
  height: 100%;
  width: 100%;
}
.slider-photo{
  width: 25em;
}
.slider-left{
float: left;
padding: 0% 0 10% 10% ;
}

.slider-right{
  float: right;
  padding: 0% 10% 5% 5%;
  width:500px;
}

.slider-title{
  font-size: 4em;
  font-weight: 700;
}
.slider-text{
  font-size: 3em;
  font-weight: 300;
}
.slider-detail{
  font-size: 1.5em;
  font-weight: 100;
  text-align: center;
}